spring:
  application:
    name: ebank-backend
  profiles:
    default: dev
  config:
    import: optional:file:.env[.properties]

server:
  port: 8080

security:
  jwt:
    secret: ${JWT_SECRET}
    expiration-in-ms: ${JWT_EXPIRATION_IN_MS:3600000} # 1h

app:
  cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS:http://localhost:5173,http://127.0.0.1:5173}
